<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
  <link href="{% static 'assets/css/style1.css' %}" rel="stylesheet">
</head>
<body>
  <div class="signin">
    <div class="back-img">
      <div class="sign-in-text">
        <h2 class="active">Login</h2>

      </div><!--/.sign-in-text-->
      <div class="layer">
      </div><!--/.layer-->
      <p class="point">&#9650;</p>
    </div><!--/.back-img-->
    <div class="form-section">

      <form action="#">
        <!--Email-->
        <label class="mdl-textfield__label" for="sample3">Email</label>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" placeholder="abc@gmail.com" type="email" id="sample4">


        </div>
        <br/>
        <br/>
        <!--Password-->
        <label class="mdl-textfield__label" for="sample3">Password</label>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input pattern=".{8,}" class="mdl-textfield__input" placeholder="********" type="password" id="sample3">


        </div>
        <br/>

        <!--CheckBox-->
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
        <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
        <span class="keep-text mdl-checkbox__label">Keep me Signed In</span>
      </label>
        <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="{% url 'bankingapp:register.html' %}"
                class="link-danger">Register</a></p>
      </form>
    </div><!--/.form-section-->

    <button class="sign-in-btn mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--raised mdl-button--colored" onclick="window.location.href='{% url 'bankingapp:click'%}'" >
      Log In
    </button><!--/button-->
 </div><!--/.signin-->
</body>
</html>